beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2023.11.17
charset-normalizer==3.3.2
idna==3.4
Levenshtein==0.23.0
python-Levenshtein==0.23.0
rapidfuzz==3.5.2
requests==2.32.0
soupsieve==2.5
tqdm==4.66.1
urllib3==2.1.0
